.card-size{
    width: 900px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    aspect-ratio: 3 / 4;
}

.image-size{
    width: 250px;
    height: 250px;
}

.info-size{
    width: 250px;
}

.table-size{
    width: 700px;
}